@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color: black !important;
}

.brand-logo{
    padding-left: 30px !important;
    font-size: 45px !important;
    font-family: 'Grand Hotel', cursive;
}

#toast-container{
    top: 60px !important;
    right: 30px !important;
    left:  auto !important;
}

.collection-item{
    width: 100%;
}